/* Button CSS */
.button {
    padding: 0.7rem 1.2rem;
    border: none;
    border-radius: 6px;
    font-size: 1rem;
    cursor: pointer;
    font-weight: 500;
    transition: background 0.2s;
}

.primary {
    background: #ec3237;
    color: #fff;
}

.primary:hover {
    background: #b71c1c;
}

.outline {
    background: transparent;
    color: #23395d;
    border: 1px solid #e0e0e0;
}

.outline:hover {
    background: #f5f6fa;
}
