/* Input CSS */
.label {
    font-weight: 500;
    color: #000000;
    margin-bottom: 4px;
    display: block;
}

.input {
    padding: 10px;
    border: 1px solid #c7d2fe;
    border-radius: 8px;
    font-size: 1rem;
    outline: none;
    transition: border-color 0.2s;
    width: 100%;
    box-sizing: border-box;
}

.input:focus {
    border-color: #000000;
}
